<p class="comment">
<p>Author: <br> 
<% if not comment.user.nil? %>
  <%= comment.user.email %></p>
<% else %>
  Anonim
<% end %>
<div class="comment-content">
  <b>Body:</b> <%= comment.body %>
</div>
<% if user_signed_in? -%>
  <% if @presentation.owner_id == current_user.id %>
    <%= link_to "Delete", [comment.presentation, comment], :confirm => "Are you sure?", :method => :delete %>
  <% end -%>
<% end -%>
</p>

