<h2>Tak to jest prywatnie</h2>
<% @presentations.each do |p| -%>
  <div class="presentation-item">
    <p class="title"><%= p.title %></p>
    <p class="desc"><%= p.description %></p>
    <p><%= link_to "Watch!", watch_presentation_path(p) %>
  </div>

<% end -%>
<%= will_paginate @presentations %>
