<h2>Listing presentation</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @presentations.each do |presentation| %>
    <tr>
      <td><%= link_to "#{presentation.title}", user_presentation %></td>
      <td><%= presentation.description %></td>
    </tr>
  <% end %>
</table>
