* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 38px;
  color: #111;
  background: #fff;
  overflow: hidden;
}

pre {
  font-family: Bitstream Vera Sans Mono, monospace;
  font-size: 1em;
}

blockquote {
  padding: 0 0 0 1em;
  font-size: 1.4em;
  font-family: Georgia, serif;
  font-style: italic;
}

ul {
  padding: 0 0 0 1.5em;
}
ol {
  padding: 0 0 0 2em;
}

#instructions {
  position: absolute;
  width: 99%;
  text-align: center;
  background: #ffd;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ff0;
}

#slides {
  overflow: hidden;
  text-align: left;
}

#track {
  width: 1000000px;
  overflow: hidden;
}

#track > div {
  float: left;
  overflow: hidden;
}

#track > div .content {
  margin: 0 0.6em;
}

#track > div .content h1 {
  margin-bottom: 0.1em;
}

#track > div .content h1 strong {
  text-decoration: underline;
}
