<html>
  <head>
    <title>Prezentacja</title>

    <%= stylesheet_link_tag 'slides.css', :media => "screen" %>
    <%= javascript_include_tag 'faye-browser' %>

  </head>
  <body>
    <div id="instructions">
      Use the left/right arrow keys to navigate.
    </div>
    <div id="slides">
      <div id="track">
        <%= yield %>
      </div>
    </div>
    <%= render @additionals %>
  </body>
</html>
